/* ЗАДАНИЕ: 2 */
/* .quotes-item__one {
  color: red;
  background-color: aqua;
}
.quotes-item__two {
  color: blueviolet;
  background-color: black;
}
.quotes-item__three {
  color: brown;
  background-color: antiquewhite;
}
.quotes-item__four {
  color: green;
  background-color: gold;
}
.quotes-item__five {
  color: darkblue;
  background-color: violet;
} */
